.twitter{
    background-color:YELLOW;
    border: solid 1px #ccc;
    padding: 25px;
    width: 250px;
    height: 250px;
    overflow: auto;
    float: left;
    margin-left: 20px;
}

.elimiar{
    width: 30px;
    height: 30px;
}

.strike{
text-decoration: line-through;
}

body{
    background-color: #E2E8ED;
    padding-top:20px;
}

.contenedor1{
    background-color: white;
    padding: 5px;
    border : 10px solid #E2E8ED;
    box-sizing: border-box;
}

.likeable{
background-color: red;
transition-duration: 5s;
}

.contenedor2{
    background-color: white;
    padding: 10px;
    padding: 5px;
    border : 10px solid #E2E8ED;
    box-sizing: border-box;

}
